cache:
  directories:
    - $HOME/.stack

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - chmod a+x ~/.local/bin/stack

install:
  - stack setup
  - stack install stylish-haskell hlint hpc-coveralls

script:
    # try to build
  - stack build
    # test and report test coverage
  - stack exec hpc-coveralls
    # check whether stylish-haskell has been applied
  - find . '*.hs' -exec stack exec stylish-haskell -- -i {} \;
  - git status | grep "nothing to commit"
    # hlint should return nothing for src dir
  - stack exec hlint -- lint src
    # hlint should return nothing for app dir
  - stack exec hlint -- lint app
    # hlint should return nothing for test dir
  - stack haddock
