sudo: false

cache:
  directories:
    - $HOME/.stack
    - $HOME/.ghc
    - $HOME/.cabal

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - chmod a+x ~/.local/bin/stack

install:
  - stack setup
  - stack install stylish-haskell hlint hpc-coveralls

script:
    # try to build
  - stack build
    # test
  - stack test --coverage
    # check whether stylish-haskell has been applied
  - find . -name '*.hs' -exec stack exec stylish-haskell -- -i {} \;
  - git status
  - git status | grep "nothing to commit"
    # hlint should return nothing for src dir
  - stack exec hlint -- lint src
    # hlint should return nothing for app dir
  - stack exec hlint -- lint app
    # hlint should return nothing for test dir
  - stack exec hlint -- lint test
    # documentation needs to build
  - stack haddock

after_script:
  - mkdir -p dist/
  - ln -sf dist/hpc $(find .stack-work/install -name hpc)
  - stack exec hpc-coveralls ogma-test
